/* 
    Required: loaded before this file
    <link rel="stylesheet" href="/src/css/theme.css"> 
*/

/* Reset | Clear most default styles and spacing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Base */
html {
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color-scheme: var(--color-scheme);

    /* Disable the text inflation algorithm */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    /* Prevent body scroll for mobile */
    overflow: hidden;
    position: fixed;
}

body {
    height: 100%;
    height: 100svh;
    color: var(--color-text);
    background-color: var(--color-bg);
}

/* Mobile */
@media (max-width: 500px) {
    html {
        font-size: var(--font-size-mobile);
    }

    code {
        font-size: var(--font-size-mobile-mono);
    }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    color: var(--color-text-heading);
    overflow-wrap: break-word;
    text-wrap: balance;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

/* Paragraphs */
p {
    max-width: var(--max-width);
    line-height: var(--line-height);
    overflow-wrap: break-word;
    text-wrap: pretty;
}

/* Links */
a {
    color: var(--color-text-link);
    text-underline-position: under;
    text-decoration: none;
}

/* Bold (use <strong>) */
b,
strong {
    font-weight: bold;
}

/* Italic (use <em>) */
i,
em,
q {
    font-style: italic;
}

/* Underline */
u {
    text-underline-position: under;
}

/* Superscript & Subscript */
sup {
    top: -0.5em;
    font-size: .8rem;
}

sub {
    bottom: -0.25em;
    font-size: .8rem;
}

small {
    font-size: .8rem;
}

/* Highlight */
mark {
    color: var(--color-text-mark);
    background-color: var(--color-bg-mark);
    border-left: var(--border-width-2) solid var(--color-bg-mark);
    border-right: var(--border-width-2) solid var(--color-bg-mark);
}

/* Inline code */
code {
    line-height: 1;
    font-size: var(--font-size-mono);
    font-family: var(--font-family-mono);
    padding: calc(var(--pad-y)/2) calc(var(--pad-x)/2);
    border-radius: var(--border-radius);
    border: var(--border);

    color: var(--color-text-section);
    background-color: var(--color-bg-section);
}

/* Code block | <pre><code>stuff</code></pre> */
pre {
    white-space: pre;
}

pre>code {
    display: block;
    overflow: auto;
    padding: var(--gap);
    border-radius: var(--border-radius);
    border: var(--border);

    line-height: var(--line-height);
    color: var(--color-text-section);
    background-color: var(--color-bg-section);

    width: fit-content;
}

/* Blockquote + Cite */
blockquote {
    display: grid;
    align-content: flex-start;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--border-radius);
    border: var(--border);
    position: relative;

    max-width: var(--max-width);
    page-break-inside: avoid;
    overflow: hidden;

    color: var(--color-text-section);
    background-color: var(--color-bg-section);
    width: fit-content;
}

blockquote>:first-child {
    text-indent: var(--gap);
}

cite {
    font-style: italic;
    font-weight: lighter;
}

/* Unordered, Ordered and Detail Lists */
ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul,
dl {
    margin-left: var(--gap);
}

li {
    line-height: var(--line-height);
}

dd {
    line-height: var(--line-height);
    margin-left: calc(var(--gap)*2);
}

/* List inside a List */
ul ul,
ul ol,
ol ol,
ol ul {
    margin-left: calc(var(--gap)*2);
}

/* Images / Video */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    border-radius: var(--border-radius);
}

/* Horizontal Rule | Divider Line */
hr {
    border: none;
    border-radius: 99px;
    height: var(--border-width-2);
    margin: var(--gap) auto;
    background-color: var(--color-border-grey);
    width: 100%;
}

/* Table - Base*/
table {
    width: auto;
    position: relative;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: var(--padding);
    background-color: var(--color-bg);
}

th {
    font-weight: bold;
    color: var(--color-text-heading);
}

/* Bottom border */
th {
    box-shadow: inset 0 1px 0 var(--color-bg), inset 0 -1px 0 var(--color-border-grey);
}

tr:hover td {
    filter: var(--filter-brightness-hover);
    background-color: var(--color-bg-section);
}

table.reset th {
    box-shadow: none;
}

/* Remove Default Styles */
button,
input,
textarea,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font: inherit;
    border: none;
    border: var(--border);
}

label {
    display: block;
}

input+label {
    display: inline;
    cursor: pointer;
}

input,
button,
select,
textarea {
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--color-text-input);
    background-color: var(--color-bg-input);
}

a,
input,
button,
select,
textarea {
    /* stop double click zoom on iOS */
    touch-action: manipulation;
    /* stop browser click feedback */
    -webkit-tap-highlight-color: transparent;
}

/* Buttons */
button,
input[type=file],
input[type=reset],
input[type=button],
input[type=range],
/* input[type="radio"], */
/* input[type="checkbox"], */
input[type=submit] {
    cursor: pointer;
    color: var(--color-text-button);
    background-color: var(--color-bg-button);

    /* prevent selecting text */
    user-select: none;
    -webkit-user-select: none;
}

input[type=file] {
    width: 300px;
}

input[type=color] {
    padding: var(--gap-sm);
    height: 3rem;
    width: 3rem;
}

/* Select Icon */
select {
    line-height: 1.4;
    padding-right: 3rem;
    background-image:
        linear-gradient(45deg, transparent 50%, currentColor 50%),
        linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position:
        calc(100% - (var(--gap-sm) + .75rem)) center,
        calc(100% - (var(--gap-sm) + .25rem)) center;
    background-size:
        .5rem .5rem,
        .5rem .5rem;
    background-repeat: no-repeat;
}

/* Option colors */
select option,
optgroup {
    background: var(--color-bg);
    color: var(--color-text-section);
}

/* Date + Time if iOS */
@supports (-webkit-touch-callout: none) {

    input[type="date"]::after,
    input[type="datetime-local"]::after,
    input[type="month"]::after,
    input[type="week"]::after {
        padding-left: var(--pad-x);
        content: "📅";
    }

    input[type="time"]::after {
        padding-left: var(--pad-x);
        content: "🕘";
    }
}

/* Checkboxes / Radio */
input[type="radio"],
input[type="checkbox"] {
    display: inline-grid;
    place-content: center;
    cursor: pointer;

    width: 1.6em;
    height: 1.6em;
    vertical-align: baseline;

    margin-right: var(--pad-x);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="checkbox"] {
    border-radius: var(--border-radius);
}

/* Inner Symbol */
input[type="radio"]::before,
input[type="checkbox"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    box-shadow: inset 1em 1em currentColor;
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="checkbox"]::before {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* If Checked Show Symbol */
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* Details */
details {
    max-width: 100%;
    display: grid;
    gap: var(--gap);
    align-items: baseline;
    background-color: var(--color-bg-section);
    padding: var(--padding);
    border: var(--border);
    border-radius: var(--border-radius);
}

details summary {
    display: block;
    cursor: pointer;
}

summary:before {
    font-family: var(--font-mono);
    font-weight: bold;
    text-align: center;
    padding-right: var(--gap);
    width: 1.25em;
    content: '+';
}

details[open] summary:before {
    content: '-';
}

details[open] summary {
    margin-bottom: var(--gap);
}

details summary::-webkit-details-marker {
    display: none;
}

/* Placeholder */
::placeholder {
    color: var(--color-text-dim);
}

/* Hover */
@media (hover: hover) {
    a:hover {
        text-decoration: underline;
    }

    a:hover,
    input:hover,
    select:hover,
    button:hover {
        filter: var(--filter-brightness-hover);
    }
}

/* Focus */
@media (hover: hover) {
    :focus-visible {
        outline: var(--border-width-2) solid var(--color-text-heading);
        outline-offset: calc(-1*var(--border-width-2));
        box-shadow: inset 0 0 0 var(--border-width-2) var(--color-bg);
        filter: var(--filter-brightness-hover);
    }
}

/* Active | Pressed (must come after :focus-visible */
input:active,
button:active {
    filter: var(--filter-brightness-active);
}


/* Disabled */
:disabled,
:disabled+label {
    filter: var(--filter-brightness-disable) grayscale(1);
    cursor: not-allowed;
}

:disabled:hover {
    filter: var(--filter-brightness-disable) grayscale(1);
    cursor: not-allowed;
}

/* Text selection */
::selection {
    color: var(--color-text-mark);
    background: var(--color-bg-mark);
}

/* Text selection for Firefox */
::-moz-selection {
    color: var(--color-text-mark);
    background: var(--color-bg-mark);
}

/* Scrollbar for Chrome and Safari */
::-webkit-scrollbar {
    width: var(--gap);
    height: var(--gap);
}

::-webkit-scrollbar-thumb {
    /* background-color: var(--color-border-grey); */
    box-shadow: inset 0 0 10px 10px var(--color-border-grey);
    border: solid var(--gap-xs) transparent;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-resizer {
    /* background: linear-gradient(135deg, transparent 0% 50%, var(--color-bg-header) 50% 100%); */
    /* background: var(--color-text-dim); */
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}