/* Theme */
html.white {

    /* Builtin Theme */
    --color-scheme: light;

    /* Colors - Base */
    --color-bg: hsl(220, 10%, 96%);
    --color-text: hsl(220, 10%, 24%);
    --color-text-dim: hsl(220, 10%, 40%);
    --color-text-heading: hsl(220, 10%, 20%);
    
    /* Colors - Palette */
    --color-bg-grey:   hsl(220, 10%, 88%);
    --color-bg-red:    hsl(  5, 90%, 88%);
    --color-bg-orange: hsl( 30, 90%, 88%);
    --color-bg-yellow: hsl( 60, 90%, 88%);
    --color-bg-green:  hsl(130, 90%, 87%);
    --color-bg-cyan:   hsl(180, 90%, 88%);
    --color-bg-blue:   hsl(220, 90%, 89%);
    --color-bg-purple: hsl(265, 90%, 89%);
    --color-bg-pink:   hsl(315, 90%, 89%);
    
    --color-text-grey:   hsl(220, 10%, 21%);
    --color-text-red:    hsl(  5, 30%, 21%);
    --color-text-orange: hsl( 30, 30%, 21%);
    --color-text-yellow: hsl( 60, 30%, 21%);
    --color-text-green:  hsl(130, 30%, 21%);
    --color-text-cyan:   hsl(180, 30%, 21%);
    --color-text-blue:   hsl(220, 30%, 21%);
    --color-text-purple: hsl(265, 30%, 21%);
    --color-text-pink:   hsl(315, 30%, 21%);

    --color-border-grey:   hsl(220, 10%, 70%);
    --color-border-red:    hsl(  5, 90%, 70%);
    --color-border-orange: hsl( 30, 90%, 70%);
    --color-border-yellow: hsl( 60, 90%, 42%);
    --color-border-green:  hsl(130, 90%, 48%);
    --color-border-cyan:   hsl(180, 90%, 46%);
    --color-border-blue:   hsl(220, 90%, 70%);
    --color-border-purple: hsl(265, 90%, 70%);
    --color-border-pink:   hsl(315, 90%, 70%);

    --color-text-link: hsl(220, 70%, 50%);

    --color-bg-mark: hsl(265, 90%, 82%);
    --color-text-mark: hsl(265, 30%, 27%);

    --color-bg-button: var(--color-bg-grey);
    --color-text-button: var(--color-text-grey);

    --color-bg-input: var(--color-bg-dark);
    --color-text-input: var(--color-text-grey);

    --color-bg-dark: hsl(220, 10%, 98%);
    --color-text-dark: hsl(220, 10%, 24%);
    --color-border-dark: hsl(220, 10%, 90%);

    --color-bg-section: hsl(220, 10%, 88%);
    --color-text-section: hsl(220, 10%, 20%);
    --color-border-section: hsl(220, 10%, 70%);

    /* Text */
    --font-size: 16px;
    --font-family: 'Rubik', helvetica, arial, sans-serif;
    --font-size-mono: calc(var(--font-size) - 3px);
    --font-family-mono: 'Fira Code', Menlo, Consolas, monospace;
    --line-height: 1.7;
    --max-width: 120ch;
    
    /* Text Size on small screens (width > 500px) */
    --font-size-mono: calc(var(--font-size) - 2px);
    --font-size-mono: calc(var(--font-size) - 4px);

    /* Margin, Padding, Gap */
    --pad-x: 0.8rem;
    --pad-y: 0.5rem;
    --padding: var(--pad-y) var(--pad-x);
    --gap-xs: 0.25rem;
    --gap-sm: 0.5rem;
    --gap: 1.0rem;
    --gap-lg: 2.0rem;

    /*  Border, Border Radius, Outline */
    --border-width: 1.4px;
    --border-width-2: 2px;
    --border: var(--border-width) solid var(--color-border-section);
    --border-radius: 0.5rem;
    --border-radius-lg: 1.0rem;

    /* Filters for hover, disable, active */
    --filter-brightness-hover: brightness(115%);
    --filter-brightness-disable: brightness(75%);
    --filter-brightness-active: brightness(85%);
}