/* Theme */
html.light {

    /* Builtin Theme */
    --color-scheme: light;

    /* Colors - Palette */
    --color-bg-0: hsl(220, 10%, 98%);
    --color-bg-1: hsl(220, 10%, 95%);
    --color-bg-2: hsl(220, 10%, 70%);
    --color-bg-3: hsl(220, 10%, 60%);
    --color-text-0: hsl(220, 10%, 50%);
    --color-text-1: hsl(220, 10%, 40%);
    --color-text-2: hsl(220, 10%, 26%);
    --color-text-3: hsl(220, 10%, 20%);

    --color-bg-grey:   hsl(220, 10%, 88%);
    --color-bg-red:    hsl(  5, 90%, 88%);
    --color-bg-orange: hsl( 30, 90%, 88%);
    --color-bg-yellow: hsl( 60, 90%, 88%);
    --color-bg-green:  hsl(130, 90%, 87%);
    --color-bg-cyan:   hsl(180, 90%, 88%);
    --color-bg-blue:   hsl(220, 90%, 89%);
    --color-bg-purple: hsl(265, 90%, 89%);
    --color-bg-pink:   hsl(315, 90%, 89%);
    
    --color-text-grey:   hsl(220, 10%, 21%);
    --color-text-red:    hsl(  5, 30%, 21%);
    --color-text-orange: hsl( 30, 30%, 21%);
    --color-text-yellow: hsl( 60, 30%, 21%);
    --color-text-green:  hsl(130, 30%, 21%);
    --color-text-cyan:   hsl(180, 30%, 21%);
    --color-text-blue:   hsl(220, 30%, 21%);
    --color-text-purple: hsl(265, 30%, 21%);
    --color-text-pink:   hsl(315, 30%, 21%);

    --color-border-grey:   hsl(220, 10%, 70%);
    --color-border-red:    hsl(  5, 90%, 70%);
    --color-border-orange: hsl( 30, 90%, 70%);
    --color-border-yellow: hsl( 60, 90%, 42%);
    --color-border-green:  hsl(130, 90%, 48%);
    --color-border-cyan:   hsl(180, 90%, 46%);
    --color-border-blue:   hsl(220, 90%, 70%);
    --color-border-purple: hsl(265, 90%, 70%);
    --color-border-pink:   hsl(315, 90%, 70%);

    /* Color */
    --color-bg: var(--color-bg-0);
    --color-text: var(--color-text-2);
    --color-border: var(--color-bg-2);
    --color-outline: var(--color-text-2);

    --color-bg-scrollbar: var(--color-text-0);
    --color-text-heading: var(--color-text-3);
    --color-text-placeholder: var(--color-text-0);

    --color-bg-section: var(--color-bg-1);
    --color-text-section: var(--color-text-2);

    --color-bg-button: var(--color-bg);
    --color-text-button: var(--color-text);

    --color-bg-input: var(--color-bg);
    --color-text-input: var(--color-text);

    --color-text-link: hsl(220, 70%, 50%);

    --color-bg-mark: hsl(265, 90%, 82%);
    --color-text-mark: hsl(265, 30%, 27%);

    /* Text */
    --font-size: 16px;
    --font-family: 'Rubik', helvetica, arial, sans-serif;
    --font-size-mono: calc(var(--font-size) - 3px);
    --font-family-mono: 'Fira Code', Menlo, Consolas, monospace;
    --line-height: 1.6;
    --max-p-width: 80ch;
    --max-page-width: 90ch;

    /* Margin, Padding, Gap */
    --pad-x: 0.8rem;
    --pad-y: 0.5rem;
    --padding: var(--pad-y) var(--pad-x);

    --gap-xs: 0.25rem;
    --gap-sm: 0.4rem;
    --gap:    0.8rem;
    --gap-lg: 2.0rem;
    --gap-xl: 2.0rem;

    /*  Border, Border Radius, Outline */
    --border-width: 2px;
    --border-radius: 0.4rem;
    --border-radius-lg: 1.0rem;
    --border: var(--border-width) solid var(--color-border);

    /* Filters for hover, disable, active */
    --filter-brightness-hover: brightness(115%);
    --filter-brightness-disable: brightness(75%);
    --filter-brightness-active: brightness(85%);
}