/* Common */
.pad {
    padding: var(--gap);
}

.overflow {
    overflow: auto;
}

.width-100,
.full-width,
.fill-width {
    width: 100%;
}

.margin-left-auto {
    width: fit-content;
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-inline-auto {
    margin-inline: auto;
}

.not-mono {
    font-family: var(--font-family);
    font-size: var(--font-family);
}

.mono {
    font-family: var(--font-family-mono);
    font-size: var(--font-family-mono);
}
.mono-family {
    font-family: var(--font-family-mono);
}
.mono-size {
    font-size: var(--font-family-mono);
}

.hide,
.display-none {
    display: none;
}

.show {
    border: 1px solid red;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Headings */
h1.border-bottom,
h2.border-bottom,
h3.border-bottom {
    padding-bottom: var(--pad-y);
    border-bottom: var(--border);
}