/* Flex */
.flex {
    display: flex;
    flex-wrap: wrap;
    /* gap: var(--gap); */
}

button.flex {
    align-items: center;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.even>* {
    flex: 1 0 0%;
}

.flex.column {
    flex-direction: column;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.grow {
    flex: 100 0 0%;
}

.grow-1 {
    flex: 1 0 0%;
}

.grow-2 {
    flex: 2 0 0%;
}

.grow-3 {
    flex: 3 0 0%;
}

/* Wrap to one element per line at break point */
@media (max-width: 34rem) {
    .flex.break-md>* {
        flex: 0 1 100% !important;
    }
}

@media (max-width: 60rem) {
    .flex.break-lg>* {
        flex: 0 1 100% !important;
    }
}

@media (max-width: 80rem) {
    .flex.break-xl>* {
        flex: 0 1 100% !important;
    }
}

/* Grid */
.grid {
    display: grid;
    align-content: flex-start;
    gap: var(--gap);
}

.grid.center {
    place-items: center;
}

.grid.auto-xs {
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}

.grid.auto-sm {
    grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
}

.grid.auto-md {
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
}

.grid.auto-lg {
    grid-template-columns: repeat(auto-fit, minmax(min(36rem, 100%), 1fr));
}

/* Spacing for both Flex and Grid */
.gap {
    gap: var(--gap);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-sm {
    gap: var(--gap-sm);
}

.gap-lg {
    gap: var(--gap-lg);
}

.gap-0 {
    gap: 0;
}

/* Alignment for both Flex and Grid */
.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

/* Heading section numbers */
.section-numbers h1 {
    cursor: pointer;
}

.section-numbers h2 {
    cursor: pointer;
    counter-increment: h2-counter;
    counter-reset: h3-counter;
}

.section-numbers h3 {
    counter-increment: h3-counter;
    counter-reset: h4-counter;
}

.section-numbers h4 {
    counter-increment: h4-counter;
    counter-reset: h5-counter;
}

.section-numbers h5 {
    counter-increment: h5-counter;
    counter-reset: h6-counter;
}

.section-numbers h6 {
    counter-increment: h6-counter;
}

.section-numbers h1::before,
.section-numbers h2::before,
.section-numbers h3::before,
.section-numbers h4::before,
.section-numbers h5::before,
.section-numbers h6::before {
    color: var(--color-text-dim);
    font-size: .8em;
    margin-right: var(--gap-sm);
}

.section-numbers h2::before {
    content: counter(h2-counter);
}

.section-numbers h3::before {
    content: counter(h2-counter) "." counter(h3-counter);
}

.section-numbers h4::before {
    content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter);
}

.section-numbers h5::before {
    content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter);
}

.section-numbers h6::before {
    content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) "." counter(h6-counter);
}

.foldable h1::after,
.foldable h2::after,
.foldable h3::after,
.foldable h4::after,
.foldable h5::after,
.foldable h6::after {
    content: attr(data-content);
    color: var(--color-text-dim);
    font-size: .8em;
    margin-left: var(--gap-sm);
}

/* Tables */
table.color-alt-rows th {
    background-color: var(--color-bg-grey);
}

table.color-alt-rows tr:nth-child(odd) td {
    background-color: var(--color-bg-dark);
}

table.color-alt-rows tr:hover td {
    filter: var(--filter-brightness-hover);
    background-color: var(--color-bg-section);
}

table.border {
    border: var(--border);
    border-top: none;
}

table.border th {
    box-shadow: inset 0 1px 0 var(--color-border-grey),
        inset 0 -1px 0 var(--color-border-grey);
}

table.border-all th,
table.border-all td {
    box-shadow: inset -1px 0 0 var(--color-border-grey),
        inset 0 -1px 0 var(--color-border-grey);
}

table.border-all th {
    box-shadow: inset 0 1px 0 var(--color-border-grey),
        inset -1px 0 0 var(--color-border-grey),
        inset 0 -1px 0 var(--color-border-grey);
}

table.border-all th:first-child {
    box-shadow: inset -1px 0 0 var(--color-border-grey),
        inset 0 1px 0 var(--color-border-grey),
        inset 1px 0 0 var(--color-border-grey),
        inset 0 -1px 0 var(--color-border-grey);
}

table.border-all td:first-child {
    box-shadow: inset -1px 0 0 var(--color-border-grey),
        inset 1px 0 0 var(--color-border-grey),
        inset 0 -1px 0 var(--color-border-grey);
}

table.freeze-header th {
    z-index: 1;
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: none;
}

table.freeze-header tbody tr:first-child td {
    border-top: none;
}

table.freeze-header thead th {
    background-clip: padding-box
}

table.nowrap th,
table.nowrap td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Blockquote */
blockquote.quote-bg::before {
    content: open-quote;
    font-family: sans-serif;
    font-size: 3rem;
    color: var(--color-text-dim);
    left: var(--gap-sm);
    position: absolute;
    line-height: 1;
    top: var(--gap-sm);
}

blockquote.quote-bg::after {
    content: close-quote;
    font-family: sans-serif;
    font-size: 3rem;
    color: var(--color-text-dim);
    right: var(--gap-sm);
    position: absolute;
    line-height: 1;
    bottom: var(--gap-sm);
    transform: translateY(2rem);
}

blockquote.quote-bg p {
    z-index: 1;
}

/* Common */
.pad {
    padding: var(--gap);
}

.overflow {
    overflow: auto;
}

.fill-width {
    width: 100%;
}

.margin-left-auto {
    width: fit-content;
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-inline-auto {
    margin-inline: auto;
}

.not-mono {
    font-family: var(--font-family);
    font-size: var(--font-family);
}

.mono {
    font-family: var(--font-family-mono);
    font-size: var(--font-family-mono);
}

.indent {
    text-indent: var(--gap);
}

.display-none {
    display: none;
}

/* Misc */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.resize {
    resize: both;
    overflow: auto;
}

.invisible {
    visibility: hidden;
}

.error {
    box-shadow: inset 0px 0px 0px 2px var(--color-bg-red);
}

.error-message {
    color: var(--color-text-red);
    margin-top: var(--gap-sm);
    gap: var(--gap-sm);
}

/* Section */
.section {
    padding: var(--gap);
    color: var(--color-text-section);
    background-color: var(--color-bg-section);
    border-radius: var(--border-radius-lg);
    border: var(--border);
    border-color: var(--color-border-section);
}
.section > *:not(:first-child) {
    margin-top: 1.2em;
}

/* Colors */
.dim {
    color: var(--color-text-dim);
}

.clear {
    background-color: transparent;
}

.border {
    border: var(--border);
}

body .dim {
    background-color: var(--color-bg);
    color: var(--color-text-dim);
}

body .red {
    background-color: var(--color-bg-red);
    color: var(--color-text-red);
    border: var(--border);
    border-color: var(--color-border-red);
}

body .orange {
    background-color: var(--color-bg-orange);
    color: var(--color-text-orange);
    border: var(--border);
    border-color: var(--color-border-orange);
}

body .yellow {
    background-color: var(--color-bg-yellow);
    color: var(--color-text-yellow);
    border: var(--border);
    border-color: var(--color-border-yellow);
}

body .lime {
    background-color: var(--color-bg-lime);
    color: var(--color-text-lime);
    border: var(--border);
    border-color: var(--color-border-lime);
}

body .green {
    background-color: var(--color-bg-green);
    color: var(--color-text-green);
    border: var(--border);
    border-color: var(--color-border-green);
}

body .cyan {
    background-color: var(--color-bg-cyan);
    color: var(--color-text-cyan);
    border: var(--border);
    border-color: var(--color-border-cyan);
}

body .blue {
    background-color: var(--color-bg-blue);
    color: var(--color-text-blue);
    border: var(--border);
    border-color: var(--color-border-blue);
}

body .purple {
    background-color: var(--color-bg-purple);
    color: var(--color-text-purple);
    border: var(--border);
    border-color: var(--color-border-purple);
}

body .pink {
    background-color: var(--color-bg-pink);
    color: var(--color-text-pink);
    border: var(--border);
    border-color: var(--color-border-pink);
}

span.red {
    background-color: transparent;
    color: var(--color-text-red);
    border: none;
}

span.green {
    background-color: transparent;
    color: var(--color-text-green);
    border: none;
}
